.bg-green {
    background-color: green;
}

.bg-darkmagenta {
    background-color: darkmagenta;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-card {
    justify-content: center;
    margin-right: 8px;
    margin-left: 10px;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 50px;
}


img {
    max-height: 300px;
    display: block;
}

.border {
    border-style: solid;
    border-width: 1px;
    border-color: #DDDDDD;
}

.w-60 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2px;
}

.old-price {
    text-decoration: line-through;
    font-size: 10px;
    color: black;
    font-weight: normal;
}

.price {
    color: red;
    font-size: 10px;
    font-weight: bold;
}

.brand {
    font-size: 10px;
    font-weight: lighter;
}

.model {
    font-size: 12px;
    font-weight: bold;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2px;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
}

#gratuiti {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2px;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    padding-bottom: 10px;
}